/output/results/illustristng/tng50_4/run2
/output/results/illustristng/tng50_4/run3
/output/results/illustristng/tng50_4/run4
/output/results/illustristng/tng50_4/run5
/output/results/illustristng/tng50_4/run6
/output/results/illustristng/tng50_4/run7
/output/results/illustristng/tng50_4/run8
/output/results/illustristng/tng50_4/run9
/output/results/illustristng/tng50_4/run10